<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
    <div class="container-fluid">
        <a class="btn border-0 text-light px-3 mx-2 me-3" data-bs-toggle="offcanvas" href="#offcanvasDark" role="button" aria-controls="offcanvasDark" id="offcanvasButton">
            <i class="bi bi-list"></i>
        </a>        
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-link" href="#">Support</a>
                <a class="nav-link" href="#">Popular</a>
                <a class="nav-link" href="#">Genres</a>
                <a class="nav-link" href="#">Series TV</a>
            </div>
        </div>
        <div>
            <a href="https://github.com/jesusjsg" class="text-decoration-none">
                <img src="https://github.com/jesusjsg.png" class="rounded-circle" width="32" height="32" alt="user photo">
            </a>
        </div>
    </div>
</nav>
