<div class="offcanvas offcanvas-start text-bg-light" tabindex="-1" id="offcanvasDark" aria-labelledby="offcanvasDarkLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title">Movies portal</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Movie genres
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                      {% for genre in genres_movies %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <a href="#" class="list-group-item-action justify-content-between text-decoration-none">{{ genre.name }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    TV movie genres
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                      {% for genre in genres_tv %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <a href="#" class="list-group-item-action justify-content-between text-decoration-none">{{ genre.name }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>